<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shop.mapper/Ad_OrderMapper">

	<sql id="search">
		<if test="searchDate != null">
			<if test="searchDate != ''.toString()">
	where order_date between to_date(#{start_date},'MM/DD/YYYY') and to_date(#{end_date},'MM/DD/YYYY')+0.9999
			</if>
		</if>
		<if test="searchType != null">
			<if test="searchType == 'code'.toString()">
				and order_code like '%' || #{keyword} || '%'
			</if>
			<if test="searchType == 'id'.toString()">
				and user_id like '%' || #{keyword} || '%'
			</if>
		</if>
		<if test="order_check != null">
			<if test="!order_check.isEmpty()">
				and order_check in 
				<foreach collection="order_check" item="check" index="index" open="(" separator="," close=")">#{check}</foreach>
			</if>
		</if>
	</sql>

	<select id="orderList" resultType="OrderListVO" parameterType="OrderCriteria">
		select p.product_name,o.order_code,o.order_sumprice,o.order_date,o.order_check,num,o.product_amount,o.user_id
        from (select o.user_id,o.order_code,o.order_sumprice,o.order_date,o.order_check,num,count(od.product_code) product_amount,max(od.product_code) product_code
                 from (select order_code, order_sumprice,order_date,order_check,user_id,
                            row_number() over(order by order_code desc) num
                             from order_tbl
                             <include refid="search"></include>
                             )o left join order_detail_tbl od
        on o.order_code = od.order_code
        group by o.order_code, o.order_sumprice, o.order_date, o.order_check,user_id, num) o , product_tbl p
        where o.product_code = p.product_code
        and num between #{rowStart} and #{rowEnd}
        order by num
	</select>

	
	<select id="orderCount" resultType="int" parameterType="SearchCriteria">
		select count(order_code)
		from order_tbl
		<include refid="search"></include>
	</select>
	
	<update id="update_status" parameterType="OrderVO">
	 update order_tbl set order_check = #{order_check} where order_code = #{order_code}
	</update>
	
	<update id="check_update" parameterType="map">
	 update order_tbl set order_check = #{status}
	 where order_code =
	 <foreach collection="codes" item="code" index="index" open="any(" separator="," close=")">#{code}</foreach>
	</update>
		
	<select id="getOrder" parameterType="int" resultType="OrderVO">
	SELECT order_code, USER_ID, ORDER_NAME, ORDER_POSTCODE, ORDER_ADDRESS, ORDER_DETAILADDR, ORDER_PHONENUM, ORDER_SUMPRICE, ORDER_DATE, ORDER_CHECK
	FROM order_tbl
	WHERE order_code = #{order_code}
	</select>
	
	<select id="getOrder_detail" parameterType="int" resultType="OrderDTO">
	 select order_code, o.PRODUCT_CODE, ORDER_COUNT,p.product_name,p.product_image,p.product_price
    from order_detail_tbl o left join product_tbl p
    on o.product_code = p.product_code
    where order_code = #{order_code}
	</select>
	
</mapper>