<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shop.mapper/BoardMapper">
	
	<insert id="writeQnA" parameterType="BoardVO">
	insert into board_tbl(board_num,user_id,product_code,board_title,board_content,board_createday)
	values(seq_board_id.nextval,#{user_id},#{product_code},#{board_title},#{board_content},SYSDATE)
	</insert>
	
	<select id="boardList" parameterType="int" resultType="BoardVO">
	select board_num, USER_ID, BOARD_TITLE, BOARD_CONTENT, BOARD_CREATEDAY, PRODUCT_CODE,board_reply
	from board_tbl where product_code = #{product_code} order by board_num desc
	</select>
	
	<select id="readBoard" parameterType="int" resultType="QnADTO">
		select b.board_num, b.USER_ID, b.BOARD_TITLE, b.BOARD_CONTENT, b.BOARD_CREATEDAY, b.PRODUCT_CODE,b.board_reply,r.reply_content
		from board_tbl b left join board_reply_tbl r
		 on b.board_num = r.board_num
		 where b.board_num = #{board_num}
	</select>
	
	<delete id="delBoard" parameterType="int">
		delete from board_tbl where board_num = #{board_num}
	</delete>
	
	<update id="modifyBoard" parameterType="BoardVO">
		update board_tbl set 
		board_title = #{board_title},
		board_content = #{board_content}
		where board_num = #{board_num}
	</update>
	
	<insert id="writeReply" parameterType="BoardVO">
		insert into board_reply_tbl(board_num,admin_id,reply_content) values (#{board_num},#{user_id},#{board_content})
	</insert>
	
	<update id="modifyReply" parameterType="BoardVO">
		update board_reply_tbl set
		reply_content = #{board_content}
		where board_num = #{board_num}
	</update>
</mapper>