<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shop.mapper/FAQMapper">

	<insert id="write_faq" parameterType="FAQVO">
		insert into faq_tbl(faq_num,faq_title,faq_content,faq_writer,writer_only) values (seq_FAQ_id.nextval,#{faq_title},#{faq_content},#{faq_writer},#{writer_only})
	</insert>
	
	<select id="faq_list" resultType="FAQVO">
		select faq_num, FAQ_TITLE, FAQ_WRITER, FAQ_WRITEDATE, FAQ_REF, FAQ_RE_LEVEL, FAQ_RE_STEP,writer_only
		from faq_tbl
		where faq_ref = 0
		order by faq_writedate desc
	</select>
	
	<select id="faq_read" parameterType="int" resultType="FAQVO">
		select faq_num, FAQ_TITLE, FAQ_WRITER, FAQ_CONTENT, FAQ_WRITEDATE, FAQ_REF, FAQ_RE_LEVEL, FAQ_RE_STEP, FAQ_LASTUPdATE,writer_only
		from faq_tbl
		where faq_num = #{faq_num}
	</select>
	
	<select id="reply_list" parameterType="int" resultType="FAQVO">
		select faq_num, FAQ_TITLE, FAQ_WRITER, FAQ_CONTENT, FAQ_WRITEDATE, FAQ_REF, FAQ_RE_LEVEL, FAQ_RE_STEP, FAQ_LASTUPdATE
		from faq_tbl
		where faq_ref = #{faq_num}
		order by faq_re_step desc
	</select>
	
	<insert id="write_reply" parameterType="FAQVO">
		insert into faq_tbl(faq_num,faq_writer,faq_content,faq_ref,faq_re_level,faq_re_step) 
		values (seq_FAQ_id.nextval,#{faq_writer},#{faq_content},#{faq_ref},1,
			(select nvl(max(faq_re_step),0)+1 from faq_tbl
			where faq_ref = #{faq_ref}))
	</insert>
	
	<update id="add_re_step" parameterType="FAQVO">
		update faq_tbl a set
		faq_re_step = (select faq_re_step + 1 from faq_tbl b where a.faq_num = b.faq_num)
		where faq_ref = #{faq_ref}
		and faq_re_step >= #{faq_re_step}
	</update>
	
	<insert id="write_re_reply" parameterType="FAQVO">
		insert into faq_tbl(faq_num,faq_writer,faq_content,faq_ref,faq_re_level,faq_re_step) values
		(seq_faq_id.nextval,#{faq_writer},#{faq_content},#{faq_ref},#{faq_re_level}+1,#{faq_re_step})
	</insert>
	
	<update id="del_reply" parameterType="int">
		update faq_tbl set
		faq_writer = ' ',
		faq_content = '삭제된 댓글입니다.'
		where faq_num = #{faq_num}
	</update>
	
	<delete id="del_faq" parameterType="int">
	delete from faq_tbl
	where faq_num = #{faq_num}
	or faq_ref = #{faq_num}
	</delete>
	
	<update id="modify_reply" parameterType="FAQVO">
		update faq_tbl set
		faq_content = #{faq_content},
		faq_lastupdate = SYSDATE
		where faq_num = #{faq_num}
	</update>
	
	<update id="modify_faq" parameterType="FAQVO">
		update faq_tbl set
		faq_title = #{faq_title},
		faq_content = #{faq_content},
		faq_lastupdate = SYSDATE
		where faq_num = #{faq_num}
	</update>
	
	<select id="count_reply" resultType="HashMap">
		select count(faq_num) count,faq_ref from faq_tbl
		where faq_ref != 0
		group by faq_ref
	</select>
	
	
</mapper>